name: Build Kernel Hame maksimal
on:
  workflow_dispatch:

env:
  KERNEL_REPO: https://github.com/AbuRider/android_kernel_xiaomi_earth.git 
  KERNEL_BRANCH: 16.2-xxksu
  DEFCONFIG: earth_defconfig
  CLANG_URL: https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/main/clang-r536225.tar.gz

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Freeing Up Disk Space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          temp-reserve-mb: 2048
          remove-dotnet: 'true'
          remove-android: 'true'

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y bc build-essential flex bison lld llvm clang libssl-dev libelf-dev libufdt-dev python3 git-lfs

      - name: Download AOSP Clang
        run: |
          mkdir clang
          curl -L ${{ env.CLANG_URL }} | tar -xz -C clang

      - name: Clone Kernel Source
        run: |
          git clone --depth=1 -b ${{ env.KERNEL_BRANCH }} ${{ env.KERNEL_REPO }} kernel

      - name: Setup KernelSU
        working-directory: kernel
        run: |
          curl -LSs "https://raw.githubusercontent.com/backslashxx/KernelSU/refs/heads/master/kernel/setup.sh" | bash -s master

      - name: Build Kernel
        working-directory: kernel
        run: |
          # Setup Path Clang
          CLANG_PATH=$(pwd)/../clang/bin
          export PATH=$CLANG_PATH:$PATH
          
          # Setup Build Variable
          export ARCH=arm64
          export SUBARCH=arm64
          export CLANG_TRIPLE=aarch64-linux-gnu-
          export CROSS_COMPILE=aarch64-linux-gnu-
          export CROSS_COMPILE_ARM32=arm-linux-gnueabi-
          
          # Step 1: Config
          make O=out ARCH=arm64 ${{ env.DEFCONFIG }}
          
          # Step 2: Compile
          make -j$(nproc --all) O=out LLVM=1 \
              ARCH=arm64 \
              CC=clang \
              CLANG_TRIPLE=aarch64-linux-gnu- \
              CROSS_COMPILE=aarch64-linux-gnu- \
              CROSS_COMPILE_ARM32=arm-linux-gnueabi- \
              LD=ld.lld \
              AR=llvm-ar \
              NM=llvm-nm \
              OBJCOPY=llvm-objcopy \
              OBJDUMP=llvm-objdump \
              STRIP=llvm-strip \
              CONFIG_NO_ERROR_ON_MISMATCH=y \
              CONFIG_DEBUG_SECTION_MISMATCH=y \
              2>&1 | tee -a build.log

      - name: Check Output & Upload
        run: |
          FILES="kernel/out/arch/arm64/boot/Image.gz-dtb"
          FILES="kernel/out/build.log
          if [ -f "$FILES" ]; then
            echo "Build Success!"
          else
            FILES="kernel/out/arch/arm64/boot/Image"
            FILES="kernel/out/build.log
          fi
          
          echo "UPLOAD_PATH=$FILES" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Liliell Kernel
          path: ${{ env.UPLOAD_PATH }}
          
